@import '../styles/variables.scss';

.col-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  width: 50%;
}
.col-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  width: calc(100% / 12 * 5);
}
.col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  width: calc(100% / 12 * 2);
}
.col-12 {
  width: 100%;
}
.container.play {
  min-height: 100vh;
}
.row.players {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
    .player {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: .25em;
      margin: 1em 0;
      padding: 1rem;
      border: 1px solid #74cdf9;
      background-color: var(--bg-card);
      color: var(--primary);
      min-width: 50%;
      aspect-ratio: 16/9;
      .header {
        text-align: center;
      }
      .body {
        .base {
          color: var(--primary);
        }

      }
      .footer {
        button {
          margin: 1em 0;
          padding: 0.25em .5em;
          border: 1px solid rgb(196, 128, 128);
          border-radius: 0.25em;
          background-color: var(--bg-card);
          color: var(--textColor);
          font-size: 1rem;
          cursor: pointer;
          line-height: 1.1;
          background-color: #f65f5c;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          transition: background-color 0.3s ease-in;
          &:focus-visible {
            outline: none;
          }
          &:hover {
            background-color: #c64d4b;
          }
        }
      }
      p {
        font-size: 1rem;
        margin: .2em;
      }

    }
    .guest p {
      text-align: end;
    }
}
.row.console {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .col-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    width: 100%;
  }
  button {
    color: var(--textColor);
    background-color: #f65f5c;
    border: 1px solid rgb(196, 128, 128);
    border-radius: 0.25em;
    padding: 0.25em .5em;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #f65f5c;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in;
    &:focus-visible {
      outline: none;
    }
    &:hover {
      background-color: #c64d4b;
    }
  }
}